
@import 'https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk@2.046/build/webfont/css/vf.css' ;

@font-face {
font-family: 'Fira Code';
src: url('https://exxxxkc.neocities.org/font/FiraCode-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}


* {
    
    font-family: 'Fira Code','Chiron Sans HK WS' ;
}

*::selection {
    background: #333;
    color: #EEE;
}

body {
    padding: 20px 30px 40px;
    background: #EEE;
    max-width: 700px;
    margin: 0 auto;
    color: #333333;
}

small.label {
    display: block;
    font-weight: bold;
    color: #aaa;
}

.button {
    cursor: pointer;
    background: #333;
    padding: 12px;
    color: #EEE;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    opacity: 0.6;
}

input:hover {
    opacity: 0.8;
}

input[type="text"] {
    font-size: 20px;
    margin: 10px 0 20px;
    padding: 5px;
}

h1 {
    font-size: 40px;
}
h2{font-size: 30px}
.text-container {
    padding: 10px 20px 20px;
    background: #f6f6f6;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);
    margin-bottom: 60px;
    min-height: 200px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    position: relative;
}

.copy {
    width: 24px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.2;
}

.slogan {
    opacity: 0.1;
    display: block;
    max-width: 300px;
    margin: 10px auto;
}

.about {
    font-size: 10px;
    display: block;
    margin: 0 auto 5px;
    text-align: center;
    opacity: 0.2;
}

.actions {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shuffle {
    margin-left: 10px;
    height: 30px;
}

#options{
  margin-bottom:10px;
  max-height:0;
  overflow: hidden;
}
#options.active{
  max-height: 200px;
}
#options>div{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

@media print {
  h1, input, #options, small, .actions, small.label{display: none}
}
